<%= form_for(@shelter) do |f| %>
  <% if @shelter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shelter.errors.count, "error") %> prohibited this shelter from being saved:</h2>

      <ul>
      <% @shelter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :web %><br />
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :requisitos_adopcion %><br />
    <%= f.text_area :requisitos_adopcion %>
  </div>
  <div class="field">
    <%= f.label :descripcion_asociacion %><br />
    <%= f.text_area :descripcion_asociacion %>
  </div>
  <div class="field">
    <%= f.label :acogida %><br />
    <%= f.check_box :acogida %>
  </div>
  <div class="field">
    <%= f.label :detalles_acogida %><br />
    <%= f.text_area :detalles_acogida %>
  </div>
  <div class="field">
    <%= f.label :informacion_donaciones %><br />
    <%= f.text_area :informacion_donaciones %>
  </div>
  <div class="field">
    <%= f.label :voluntariado %><br />
    <%= f.check_box :voluntariado %>
  </div>
  <div class="field">
    <%= f.label :detalles_voluntariado %><br />
    <%= f.check_box :detalles_voluntariado %>
  </div>
  <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle %>
  </div>
  <div class="field">
    <%= f.label :provincia %><br />
    <%= f.text_field :provincia %>
  </div>
  <div class="field">
    <%= f.label :cp %><br />
    <%= f.number_field :cp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
