<h1>Listing shelters</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Usuario</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Password</th>
    <th>Web</th>
    <th>Requisitos adopcion</th>
    <th>Descripcion asociacion</th>
    <th>Acogida</th>
    <th>Detalles acogida</th>
    <th>Informacion donaciones</th>
    <th>Voluntariado</th>
    <th>Detalles voluntariado</th>
    <th>Calle</th>
    <th>Provincia</th>
    <th>Cp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelters.each do |shelter| %>
  <tr>
    <td><%= shelter.nombre %></td>
    <td><%= shelter.usuario %></td>
    <td><%= shelter.email %></td>
    <td><%= shelter.telefono %></td>
    <td><%= shelter.password %></td>
    <td><%= shelter.web %></td>
    <td><%= shelter.requisitos_adopcion %></td>
    <td><%= shelter.descripcion_asociacion %></td>
    <td><%= shelter.acogida %></td>
    <td><%= shelter.detalles_acogida %></td>
    <td><%= shelter.informacion_donaciones %></td>
    <td><%= shelter.voluntariado %></td>
    <td><%= shelter.detalles_voluntariado %></td>
    <td><%= shelter.calle %></td>
    <td><%= shelter.provincia %></td>
    <td><%= shelter.cp %></td>
    <td><%= link_to 'Show', shelter %></td>
    <td><%= link_to 'Edit', edit_shelter_path(shelter) %></td>
    <td><%= link_to 'Destroy', shelter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shelter', new_shelter_path %>
