

<div class="row">
  <div class="col-med-4 col-lg-3">
    <%= form_for @filterrific do |f| %>
    <div>
        <%= link_to(
          'Borrar filtros',
          reset_filterrific_list_pets_path,
        ) %>
      </div>
     <div>

        <h4>Selecciona el tipo de mascota</h4>
        <%= f.select(
          :with_pet_type_ids,
          @filterrific.select_options[:with_pet_type_ids],
          { include_blank: '- Cualquiera -' },
          :class => "form-control"
        ) %>
     
     </div>
     <div>
        <h4>Selecciona la raza</h4>
        <%= f.select(
          :with_pet_type_breed_id,
          @filterrific.select_options[:with_pet_type_breed_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control"
        ) %>
     
      </div>
     <div>
       <h4> Filtra por provincia </h4>
        <%= f.select(
          :with_province, 
          @filterrific.select_options[:with_province],
          { include_blank: '- Cualquiera -' },
           :class => "form-control"
        ) %>
     
      </div>

      <div>
        <h4>Selecciona el refugio</h4>
        <%= f.select(
          :with_shelter_id,
          @filterrific.select_options[:with_shelter_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control"
        ) %>
     
      </div>

       <div>
        <h4>Selecciona el tamaño</h4>
        <%= f.select(
          :with_pet_size_id,
          @filterrific.select_options[:with_pet_size_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control"
        ) %>

      </div>

      <div>
       <h4>Selecciona el tipo de pelo</h4>
        <%= f.select(
          :with_hair_type_id,
          @filterrific.select_options[:with_hair_type_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control"
        ) %>
     
      </div>
      


      <% end %>
  </div> <!-- Final del row col -->
  <div class="col-med-8 col-lg-9">
    <h3>Mascotas que cumplen con los criterios de búsqueda</h3>
    <%= render(
      partial: 'list',
      locals: { pets: @pets }
    ) %>

  </div><!-- Final del row col -->

</div> <!-- Final del row -->
<div class="apple_pagination">
      <%= will_paginate @pets, :container => false %>
</div>