

<div class="row">
  <div class="col-med-4 col-lg-3">
    <%= form_for @filterrific do |f| %>
    <div>
        <%= link_to(
          'Borrar filtros',
          reset_filterrific_list_pets_path,
        ) %>
      </div>
     <div>

        <h4>Selecciona el tipo de mascota</h4>
        <%= f.select(
          :with_pet_type_ids,
          @filterrific.select_options[:with_pet_type_ids],
          { include_blank: '- Cualquiera -' },
          :class => "form-control chosen-select"
        ) %>
     
     </div>
     <div>
        <h4>Selecciona la raza</h4>
        <%= f.select(
          :with_pet_type_breed_id,
          @filterrific.select_options[:with_pet_type_breed_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control chosen-select"
        ) %>
     
      </div>
      <div>
       <h4> Filtra por género </h4>
        <%= f.select(
          :with_gender, 
          @filterrific.select_options[:with_gender],
          { include_blank: '- Cualquiera -' },
           :class => "form-control chosen-select"
        ) %>
     
      </div>
      <div>
       <h4> Filtra por años </h4>
        <%= f.select(
          :with_age, 
          @filterrific.select_options[:with_age],
          { include_blank: '- Cualquiera -' },
           :class => "form-control chosen-select"
        ) %>
     
      </div>
     <div>
       <h4> Filtra por provincia </h4>
        <%= f.select(
          :with_province, 
          @filterrific.select_options[:with_province],
          { include_blank: '- Cualquiera -' },
           :class => "form-control chosen-select"
        ) %>
     
      </div>
        <h4>Selecciona el color <a data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h4>


        <%= f.select(
          :with_pet_type_colour_id,
          @filterrific.select_options[:with_pet_type_colour_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control chosen-select"
        ) %>

      <div>
        <h4>Selecciona el refugio</h4>
        <%= f.select(
          :with_shelter_id,
          @filterrific.select_options[:with_shelter_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control chosen-select"
        ) %>
     
      </div>

       <div>
        <h4>Selecciona el tamaño</h4>
        <%= f.select(
          :with_pet_size_id,
          @filterrific.select_options[:with_pet_size_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control chosen-select"
        ) %>

      </div>

      <div>
       <h4>Selecciona el tipo de pelo</h4>
        <%= f.select(
          :with_hair_type_id,
          @filterrific.select_options[:with_hair_type_id],
          { include_blank: '- Cualquiera -' },
          :class => "form-control chosen-select"
        ) %>
     
      </div>
      


      <% end %>
  </div> <!-- Final del row col -->
  <div class="col-med-8 col-lg-9">
    <h3>Mascotas que cumplen con los criterios de búsqueda</h3>
    <%= render(
      partial: 'list',
      locals: { pets: @pets }
    ) %>

  </div><!-- Final del row col -->

</div> <!-- Final del row -->
     <div class="apple_pagination">
     <%= will_paginate @pets, :container => false %>
    </div>

<!-- Large modal -->


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title" id="myModalLabel">¿Qué son los colores?</h4>
      </div>
      <div class="modal-body">
        Hemos categorizado a las mascotas para que puedas seleccionarlas en función de su carácter, aquí tienes la descripción de cada uno de los colores:
       <% @pet_type_colours.each do |pet_type_colour| %>
        <ul>
        <li><%= pet_type_colour.name %>: <%= pet_type_colour.description %></li>
        </ul>
    <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>