<h1>Listado de mascotas</h1>

<%= form_for @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
  </div>

  <div>
    Province
    <%= f.select(
      :with_province, 
      @filterrific.select_options[:with_province],
      { include_blank: '- Any -' }
    ) %>
 
  </div>

  <div>
    Refugio
    <%= f.select(
      :with_shelter_id,
      @filterrific.select_options[:with_shelter_id],
      { include_blank: '- Any -' }
    ) %>
 
  </div>

   <div>
    Tamaño
    <%= f.select(
      :with_pet_size_id,
      @filterrific.select_options[:with_pet_size_id],
      { include_blank: '- Any -' }
    ) %>

  </div>

  <div>
    Tipo de pelo
    <%= f.select(
      :with_hair_type_id,
      @filterrific.select_options[:with_hair_type_id],
      { include_blank: '- Any -' }
    ) %>
 
  </div>
    <div>
    Raza
    <%= f.select(
      :with_pet_type_breed_id,
      @filterrific.select_options[:with_pet_type_breed_id],
      { include_blank: '- Any -' }
    ) %>
 
  </div>
      <div>
    Tipo
    <%= f.select(
      :with_pet_type_ids,
      @filterrific.select_options[:with_pet_type_ids],
      { include_blank: '- Any -' }
    ) %>
 
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_list_pets_path,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>

<% end %>

<%= render(
  partial: 'list',
  locals: { pets: @pets }
) %>

<br />

