

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-3 col-md-3">
    <div class="img-peq">
      <%= image_tag(@pet.picture_url, :size => '250x250') if @pet.picture? %>
    </div>

  </div>

   <div class="col-lg-9 col-md-9">
    <%= link_to '<< Volver al listado', list_pets_path, :class=>"enlaces" %>
    <div class="pull-right">
      <%= social_share_button_tag(@pet.name, :popup => "true") %>
    </div>
     <div class="info">
      <p>
        <b>Nombre</b>
        <%= @pet.name %>
      </p>

      <p>
        <b>Tamaño:</b>
        <%= @pet.pet_size.name %>
      </p>

      <p>
        <b>Raza:</b>
        <%= @pet.pet_type_breed.name %>
      </p>

      <p>
        <b>Color:</b>
        <%= @pet.pet_type_colour.name %>: <%= @pet.pet_type_colour.description %>
      </p>

      <p>
        <b>Años:</b>
        <%= @pet.age %>
      </p>

      <p>
        <b>Comentarios:</b>
        <%= @pet.commentary %>
      </p>

      <p>
        <b>Necesidades especiales:</b>
        <%= @pet.special_need %>
      </p>
      <p>
      <b>Refugio:</b>
        <%= @pet.shelter.name %>
      </p>
      <p> Para adoptar a <%= @pet.name %> puedes contactar con nosotros en  
      <b><%= @pet.shelter.email %></b>
      <%= "o llamarnos al teléfono:" if @pet.shelter.phone? %>
      <b><%= @pet.shelter.phone if @pet.shelter.phone? %></b>
      </p>
      <p>
        <b>Estos son los requisitos que exige <%= @pet.shelter.name %> para adoptar a <%= @pet.name %>:</b>
        <%= @pet.shelter.adoption_requirement %>
      </p>
    </div>

   </div>


</div>






