<%= form_for(@carer) do |f| %>
  <%= render :partial=>"layouts/errors_panel" , object: @carer %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br />
    <%= f.text_field :apellidos %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :localizar %><br />
    <%= f.check_box :localizar %>
  </div>
  <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle %>
  </div>
  <div class="field">
    <%= f.label :provincia %><br />
    <%= f.text_field :provincia %>
  </div>
  <div class="field">
    <%= f.label :cp %><br />
    <%= f.number_field :cp %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br />
    <%= f.text_area :comentarios %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
