<h1>Listado cuidadores</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Localizar</th>
    <th>Calle</th>
    <th>Provincia</th>
    <th>Cp</th>
    <th>Comentarios</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carers.each do |carer| %>
  <tr>
    <td><%= carer.nombre %></td>
    <td><%= carer.apellidos %></td>
    <td><%= carer.email %></td>
    <td><%= carer.telefono %></td>
    <td><%= carer.localizar %></td>
    <td><%= carer.calle %></td>
    <td><%= carer.provincia %></td>
    <td><%= carer.cp %></td>
    <td><%= carer.comentarios %></td>
    <td><% link_to 'Show', carer %></td>
    <td><%= link_to 'Editar', edit_carer_path(carer) %></td>
    <td><%= link_to 'Borrar', carer, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo cuidador', new_carer_path %>
