<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @carer.nombre %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @carer.apellidos %>
</p>

<p>
  <b>Email:</b>
  <%= @carer.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @carer.telefono %>
</p>

<p>
  <b>Localizar:</b>
  <%= @carer.localizar %>
</p>

<p>
  <b>Calle:</b>
  <%= @carer.calle %>
</p>

<p>
  <b>Provincia:</b>
  <%= @carer.provincia %>
</p>

<p>
  <b>Cp:</b>
  <%= @carer.cp %>
</p>

<p>
  <b>Comentarios:</b>
  <%= @carer.comentarios %>
</p>


<%= link_to 'Edit', edit_carer_path(@carer) %> |
<%= link_to 'Back', carers_path %>
