
  <%= render :partial=>"layouts/errors_panel" , object: @pet_type_colour %>

  <div class="field">
    <%= f.label(:name, "Nombre") %><br />
    <%= f.text_field :name %>
  </div>
    
  <div class="field">
    <%= f.label(:description, "Descripción") %><br />
    <%= f.text_area :description %>
  </div>

