
   <%= render :partial=>"layouts/errors_panel" , object: @pet %>
<div class="row">
  <div class="col-lg-8 col-md-8">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="field">
          <%= f.label(:name, "Nombre") %><br />
          <%= f.text_field :name, :class=>"form-control"%>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="field">
          <%= f.label(:gender, "sexo") %><br />
          <%= f.select :gender,  Pet::GENDER_TYPES, {include_blank: false}, { :class=>"form-control chosen-select"} %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="field">
          <%= f.label(:birthday, "Nacimiento") %><br />   
          <%= f.date_select(:birthday, options={:start_year=>Time.now.year-12, :end_year=>Time.now.year+0, :use_short_month => true, :discard_day => true }, :class=>"form-control chosen-select") %>
        </div>
      </div>
    </div><!-- final del row -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="field">
          <%= f.label(:pet_status_id, "Estado") %><br />
          <%= f.select(:pet_status_id, @pet_status.map {|s| [s.name, s.id]}, {include_blank: false}, { :class=>"form-control chosen-select"}) %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="field">
          <%= f.label(:carer_id, "Cuidador") %><br />
          <%= f.select(:carer_id, @carer.map {|s| [s.name_firstname, s.id]}, {include_blank: true}, { :class => 'form-control chosen-select' }) %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
          <div class="field">
             <%= f.label(:pet_type_colour_id, "Color") %><span>  </span><a data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a><br />
             <%= f.select(:pet_type_colour_id, @pet_type_colour.map {|s| [s.name, s.id]},  {include_blank: true}, { :class=>"form-control chosen-select"}) %>
          </div>
      </div>
    </div><!-- final del row -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="field">
          <%= f.label(:pet_size_id, "Tamaño") %><br />
          <%= f.select(:pet_size_id, @pet_size.map {|s| [s.name, s.id]}, {include_blank: false}, { :class=>"form-control chosen-select"}) %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
       <div class="field">
          <%= f.label(:pet_type_breed_id, "Raza") %><br />
          <%= f.select(:pet_type_breed_id, @pet_type_breed.map {|s| [s.name, s.id]}, {include_blank: false}, { :class=>"form-control chosen-select"}) %>
        </div>
       </div>
      <div class="col-lg-4 col-md-4">
       <div class="field">
          <%= f.label(:hair_type_id, "Tipo de pelo") %><br />
          <%= f.select(:hair_type_id, @hair_type.map {|s| [s.name, s.id]}, {include_blank: true}, { :class=>"form-control chosen-select"}) %>
        </div>
      </div>
    </div><!-- final del row -->
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="field">
          <%= f.label(:commentary, "Comentarios") %><br />
          <%= f.text_area(:commentary, :rows=>5, :class=>"form-control") %>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
       <div class="field">
          <%= f.label(:special_need, "Necesidades especiales") %><br />
          <%= f.text_area(:special_need,  :rows=>5, :class=>"form-control") %>
        </div>
      </div>
    </div><!-- final del row -->
  </div><!-- final de la primera columna -->
    <div class="col-lg-4 col-md-4">
      <span class="picture">
        <%= image_tag(@pet.picture_url) if @pet.picture? %>
        <%= f.file_field(:picture, accept: 'image/jpeg,image/gif,image/png', :class=>"btn btn-info")%>
      </span>
     </div><!-- final de la segunda columna -->

</div><!-- final del row -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title" id="myModalLabel">¿Qué son los colores?</h4>
      </div>
      <div class="modal-body">
        Los colores son una categorización de la mascota para que las familias adoptantes puedan encontrar la que más se adapta a su forma de vida. Un poco más abajo encontrarás los colores y las familias ideales para adoptar a la mascota:
       <% @pet_type_colours.each do |pet_type_colour| %>
        <ul>
        <li><%= pet_type_colour.name %>: <%= pet_type_colour.description %></li>
        </ul>
    <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div><!-- final del modal -->

<script type="text/javascript">
  $('#pet_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('El tamaño máximo para la imagen es de 5MB. Por favor, selecciona una imagen más pequeña.');
    }
  });
</script>
