<div class="row">
  <div class="col-lg-2 col-md-2">
   <%= render 'layouts/nav_administracion' %>
  </div>
  <div class="col-lg-10 col-md-10">   
    <div class="row">
       <div class="col-lg-3 col-md-3">
       <%= link_to 'Nueva mascota', new_shelter_pet_path(@shelter), class: "btn btn-primary" %>
       
       </div>
      <div class="col-lg-5 col-md-5">
        <div class="filter_options_container">
          <form class="filter_form">
            <div class="row">
              <div class="col-lg-7 col-md-7">
                <%= select("pet_status", "name", PetStatus.all.collect(&:name),
                { include_blank: '- Cualquiera -' },
                :class => "form-control" ) %>
              </div>
              <div class="col-lg-5 col-md-5">
                <input type="submit" value="Filtrar" class="btn btn-info"/>
              </div>
            </div>    
          </form>
       </div>
      </div><!-- final primera columna -->
      <div class="col-lg-4 col-md-4">
        <%= form_tag shelter_pets_path, :method => 'get' do %>  
         <div class="row">
          <div class="col-lg-7 col-md-7">
            <%= text_field_tag :search, params[:search], :class=>"form-control" %>  
          </div>
          <div class="col-lg-5 col-md-5">
            <%= submit_tag "Buscar por nombre", :name => nil, :class => "btn btn-info" %>
          </div>
         </div>
        <% end %>  
      </div><!-- final segunda columna -->

    </div><!-- final row -->
    <h3>Listado de mascotas</h3>
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 hidden-xs">
    <table class="table table-hover">
      <tr>

        <th></th>
        <th>Raza</th>
        <th>Mascota</th>
        <th>Nombre</th>
        <th>Cuidador</th>
        <th>Estado</th>  
      
        <th></th>
      </tr>

        <% @pets.each do |pet| %>
      <tr>
        

        <td><div class="img-pq"><%= image_tag(pet.picture_url, :size => '100x100', :alt => 'imagen') if pet.picture? %></div></td>
        <td><%= pet.pet_type_breed.name if pet.pet_type_breed %></td>
        <td><%= pet.pet_type.name if pet.pet_type %></td>
        <td><%= pet.name if pet.name  %></td>
        <td><%= pet.carer.name_firstname if pet.carer %></td>
        <td><%= pet.pet_status.name %></td> 
        <td><%= link_to 'Editar', {:action => 'edit', :id => pet.id, :current_shelter_id => @shelter.id } %></td>
       

      </tr>
    <% end %>
    </table>
  </div> 
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <% @pets.each do |pet| %>
      <%= image_tag(pet.picture_url, :size => '100x100', :alt => 'imagen') if pet.picture? %><br>
      <p><%= pet.name %> | <%= pet.pet_type.name if pet.pet_type %></p>
      <p><%= pet.carer.name_firstname if pet.carer %></p>
      <p><%= pet.pet_status.name %></p>
      <p><%= link_to 'Editar', {:action => 'edit', :id => pet.id, :current_shelter_id => @shelter.id} %></p>
     
    <% end %>
  </div>
</div><!-- Final del row -->
    <div class="apple_pagination">
          <%= will_paginate @pets, :container => false %>
      </div>
    <br />
      </div>
    </div>


