<p id="notice"><%= notice %></p>
<%= image_tag(@pet.picture_url) if @pet.picture? %>

<p>
  <b>Nombre:</b>
  <%= @pet.nombre %>
</p>
<p>
  <b>Estado:</b>
  <%= @pet.pet_status.estado %>
</p>

<p>
  <b>Tamaño:</b>
  <%= @pet.pet_size.pet_size %>
</p>

<p>
  <b>Tipo de mascota:</b>
  <%= @pet.pet_type.PetTypeName %>
</p>

<p>
  <b>Refugio:</b>
  <%= @pet.shelter.nombre %>
</p>

<p>
  <b>Cuidador:</b>
  <%= @pet.carer.nombre %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @pet.fecha_nacimiento %>
</p>
<p>
  <b>Tipo de pelo:</b>
  <%= @pet.hair_type.name %>
</p>
<p>
  <b>Comentarios:</b>
  <%= @pet.comentarios %>
</p>

<p>
  <b>Necesidades especiales:</b>
  <%= @pet.necesidades_especiales %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
