<%= form_for(@pet_type_breed) do |f| %>
  <%= render :partial=>"layouts/errors_panel" , object: @pet_type_breed %>

  <div class="field">
    <%= f.label :raza %><br />
    <%= f.text_field :raza %>
  </div>
  <div class="field">
    <%= f.label(:pet_type_id, "Tipo de mascota") %><br />
      <%= f.select(:pet_type_id, @pet_type.map {|s| [s.PetTypeName, s.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
