


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :web %><br />
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :adoption_requirement %><br />
    <%= f.text_area :adoption_requirement %>
  </div>
  <div class="field">
    <%= f.label :shelter_description %><br />
    <%= f.text_area :shelter_description %>
  </div>
  <div class="field">
    <%= f.label :carer_possibility %><br />
    <%= f.check_box :carer_possibility %>
  </div>
  <div class="field">
    <%= f.label :carer_detail %><br />
    <%= f.text_area :carer_detail %>
  </div>
  <div class="field">
    <%= f.label :donation_information %><br />
    <%= f.text_area :donation_information %>
  </div>
  <div class="field">
    <%= f.label :voluntary %><br />
    <%= f.check_box :voluntary %>
  </div>
  <div class="field">
    <%= f.label :voluntary_detail %><br />
    <%= f.text_area :voluntary_detail %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

