<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @shelter.name %>
</p>

<p>
  <b>Email:</b>
  <%= @shelter.email %>
</p>

<p>
  <b>phone:</b>
  <%= @shelter.phone %>
</p>

<p>
  <b>Password:</b>
  <%= @shelter.password %>
</p>

<p>
  <b>Web:</b>
  <%= @shelter.web %>
</p>

<p>
  <b>Requisitos adopcion:</b>
  <%= @shelter.adoption_requirement %>
</p>

<p>
  <b>description asociacion:</b>
  <%= @shelter.shelter_description %>
</p>

<p>
  <b>carer_possibility:</b>
  <%= @shelter.carer_possibility %>
</p>

<p>
  <b>Detalles de acogida:</b>
  <%= @shelter.carer_detail %>
</p>

<p>
  <b>Informacion donaciones:</b>
  <%= @shelter.donation_information %>
</p>

<p>
  <b>voluntary:</b>
  <%= @shelter.voluntary %>
</p>

<p>
  <b>Detalles voluntary:</b>
  <%= @shelter.voluntary_detail %>
</p>

<p>
  <b>Direccion:</b>
  <%= @shelter.address %>
</p>



<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
