<h1>Listing pet_type_breeds</h1>

<table>
  <tr>
    <th>Raza</th>
    <th>Pet type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pet_type_breeds.each do |pet_type_breed| %>
  <tr>
    <td><%= pet_type_breed.raza %></td>
    <td><%= pet_type_breed.pet_type_id %></td>
    <td><%= link_to 'Show', pet_type_breed %></td>
    <td><%= link_to 'Edit', edit_pet_type_breed_path(pet_type_breed) %></td>
    <td><%= link_to 'Destroy', pet_type_breed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet type breed', new_pet_type_breed_path %>
