<p id="notice"><%= notice %></p>
<%= link_to 'Volver', list_shelters_path %>
<p>
  <b>Nombre:</b>
  <%= @shelter.name %>
</p>

<p>
  <b>Email:</b>
  <%= @shelter.email %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @shelter.phone %>
</p>


<p>
  <b>Página Web:</b>
  <%= @shelter.web %>
</p>

<p>
  <b>Requisitos adopcion:</b>
  <%= @shelter.adoption_requirement %>
</p>

<p>
  <b>description asociacion:</b>
  <%= @shelter.shelter_description %>
</p>

<p>
  <b>Posibilidad de acoger:</b>
  <%= @shelter.carer_possibility %>
</p>

<p>
  <b>Detalles de acogida:</b>
  <%= @shelter.carer_detail %>
</p>

<p>
  <b>Informacion donaciones:</b>
  <%= @shelter.donation_information %>
</p>

<p>
  <b>Voluntariado:</b>
  <%= @shelter.voluntary %>
</p>

<p>
  <b>Detalles Voluntariado:</b>
  <%= @shelter.voluntary_detail %>
</p>

<p>
  <b>Dirección:</b>
  <%= @shelter.address %>
</p>






