<%= form_for(@pet_status) do |f| %>
   <%= render :partial=>"layouts/errors_panel" , object: @pet_status %>

  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
