<div class="row">
  <div class="col-lg-2 col-md-2">
   <%= render 'layouts/nav_administracion' %>
  </div>
  <div class="col-lg-10 col-md-10">
    <h2> Datos globales: </h2>
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-6">
       <h4>Mascotas en el refugio: <%= @pet_in_shelter.size %></h4>
       <h4>Mascotas Acogidas: <%= @pet_with_carer.size %></h4>
      </div>
      <div class="col-lg-6 col-md-6">
       <h4>Mascotas en adopción: <%= @pet_to_adopted.size %></h4>
        <h4>Mascotas Adoptadas: <%= @pet_adopted.size %></h4>
      </div>
    </div>
  </div>
</div>


