<h1>Listado Refugios</h1>
<%= link_to 'Nuevo refugio', new_shelter_path %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Número de mascotas</th>
    <th>Acogida</th>
    <th>Voluntariado</th>
    <th>Calle</th>
    <th>Provincia</th>
    <th>Cp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelters.each do |shelter| %>
  <tr>
    <td><%= shelter.nombre %></td>
    <td><%= shelter.pets.en_adopcion.size %></td>
    <td><%= shelter.acogida %></td>
    <td><%= shelter.voluntariado %></td>
    <td><%= shelter.calle %></td>
    <td><%= shelter.provincia %></td>
    <td><%= shelter.cp %></td>
    <td><%= link_to 'Ver mascotas', shelter_pets_path(shelter.id) %></td>
    <td><% link_to 'Show', shelter %></td>
    <td><%= link_to 'Editar', edit_shelter_path(shelter) %></td>
    <td><%= link_to 'Borrar', shelter, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />


