<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @shelter.nombre %>
</p>

<p>
  <b>Usuario:</b>
  <%= @shelter.usuario %>
</p>

<p>
  <b>Email:</b>
  <%= @shelter.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @shelter.telefono %>
</p>

<p>
  <b>Password:</b>
  <%= @shelter.password %>
</p>

<p>
  <b>Web:</b>
  <%= @shelter.web %>
</p>

<p>
  <b>Requisitos adopcion:</b>
  <%= @shelter.requisitos_adopcion %>
</p>

<p>
  <b>Descripcion asociacion:</b>
  <%= @shelter.descripcion_asociacion %>
</p>

<p>
  <b>Acogida:</b>
  <%= @shelter.acogida %>
</p>

<p>
  <b>Detalles acogida:</b>
  <%= @shelter.detalles_acogida %>
</p>

<p>
  <b>Informacion donaciones:</b>
  <%= @shelter.informacion_donaciones %>
</p>

<p>
  <b>Voluntariado:</b>
  <%= @shelter.voluntariado %>
</p>

<p>
  <b>Detalles voluntariado:</b>
  <%= @shelter.detalles_voluntariado %>
</p>

<p>
  <b>Calle:</b>
  <%= @shelter.calle %>
</p>

<p>
  <b>Provincia:</b>
  <%= @shelter.provincia %>
</p>

<p>
  <b>Cp:</b>
  <%= @shelter.cp %>
</p>


<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
