<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
 
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "Buscador", pets_path %></li>
        <li><%= link_to "Primeros pasos", '#' %></li>
        <li><%= link_to "Asociaciones", shelters_path %></li>
        <li><%= link_to "Administracion", :controller => "access" %></li>
      </ul>
    </nav>
  </div>
</header>