<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav navbar-right">
    <li><%= nav_link 'Cuidadores', admin_carers_path %></li>
    <li><%= nav_link 'Refugios', admin_shelters_path %></li>
    <li><%= nav_link 'Mascotas', admin_pets_path %></li>
    <li><%= nav_link 'Tamaños', pet_sizes_path %></li>
    <li><%= nav_link 'Tipos de pelo', hair_types_path %></li>
    <li><%= nav_link 'Estados', pet_statuses_path %></li>
    <li><%= nav_link 'Razas', pet_type_breeds_path %></li>
    <li><%= nav_link 'Colores', pet_type_colours_path %></li>
    <li><%= nav_link 'Tipos de mascotas', pet_types_path %></li>
  </ul>
</nav>