<!DOCTYPE html>
<html>
<head>
  <title>Mascota</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 <div class="container">
  <div class="page-header">
    <h1>mascota <small>Buscador de mascotas</small></h1>
   </div>
  <%= render 'layouts/header' %>
   
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
       </div>
    <% end %>


    <%= yield %>
    <%= render 'layouts/footer' %>
 </div>
</body>
</html>
